:root{
/*Colores Primarios*/
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/*Colores Neutrales*/
--Very-dark-blue-main-BG: hsl(217, 54%, 11%);
--Very-dark-blue-card-BG: hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size:18px;
}